# yaml-language-server: $schema=https://raw.githubusercontent.com/cooperspencer/gickup/refs/heads/main/gickup_spec.json

source:
  github:
    - token: "${GITHUB_TOKEN}"
      user: "${GITHUB_USER}" # the user you want to clone the repositories from.
      # if you want to get everything from your user, leave out the user parameter and just use the token.
      # for the clone process, either use:
      # - username + password
      # - sshkey
      # - token
      username: "${GITHUB_USER}" # user is used to clone the repo with
      ssh: false # can be true or false
      wiki: true # includes wiki too
      issues: true # back up issues, works only locally
      starred: true # includes the user's starred repositories too
      contributed: true # includes repositories the user contributed to
      gists: true # clone gists too
destination:
  s3:
   - endpoint: "${S3_ENDPOINT}" # whatever your s3 endpoint is
     structured: true # checks repos out like hostersite/user|organization/repo
     bucket: "${S3_BUCKET}"
     use_static_creds: true # if true, use static credentials (accesskey/secretkey/token); if false, use IAM instance credentials (e.g. for AWS EC2/ECS)
     accesskey: "${S3_ACCESS_KEY_ID}" # can be an environment variable, just don't add a $ in front of it
     secretkey: "${S3_SECRET_ACCESS_KEY}" # can be an environment variable, just don't add a $ in front of it
     region: "${S3_REGION}" # S3 region, for example us-east-1
     zip: false # if true, will zip the entire git repo into a single zip file and upload that instead
     usessl: true # wheter to use ssl or not
     storageclass: "STANDARD" # storage class for all repos to be uploaded to this S3 bucket. E.g. for AWS: STANDARD, STANDARD_IA, GLACIER, etc.
     src_repo_url_tag_key: "" # if set, tag each uploaded object with this key and the source repo URL as value. Leave unset to disable tagging.
     datecreatedir: false # if true, gickup will create a directory for backup with the creation date
     lfs: true # clone lfs repos, !! ATTENTION !! git and git-lfs must be installed on the system!
cron: "25,55 * * * *" # optional - when cron is not provided, the program runs once and exits.

log: # optional
  timeformat: 2006-01-02 15:04:05 # you can use a custom time format, use https://yourbasic.org/golang/format-parse-string-time-date-example/ to check how date formats work in go
                                  # or set it as environment variable GICKUP_TIME_FORMAT
